# CREATE AND ACCESS SQLITE DATABASE WITH PYTHON

# Objective:

## At the end of this lesson, you will be able to:

- Create a table
- Create a database
- Insert data into the table
- Query data from the table
- Retrieve the result set into a pandas dataframe
- Close the data connnection

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world.

## Task 1: Create database using SQLite

In [1]:
#Install & load sqlite3
#!pip install sqlite3 if sqlite in not installed into your working environment.
import sqlite3

In [2]:
# Connecting to sqlite database with connection object 'conn'

conn = sqlite3.connect('INSTRUCTOR.db')

 You can create Cursor object using the cursor() method of the Connection object/class. Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries.

In [3]:
#  Create cursor object
cursor_obj = conn.cursor()

## Task 2: Create a table in the database

In this step we will create a table in the database with following details:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

In [5]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [6]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

The output you will get something as: <strong>sqlite3.Cursor at 0x27a1a491260</strong> which means mySql database has sqlite3.Cursor object at 0x27a1a49126 as output in table. But you may get the different number.

Now use a single query to insert the remaining two rows of data

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values(2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

## Task 4: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [10]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [11]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number,(i.e how many rows you want to fetch)
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [12]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [16]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2d/5e/9213ea10ac473e2437dc2cb17323ddc0999997e2713d6a0b683b10773994/pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\ndubuisi\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ndubuisi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ndubuisi\anaconda3\lib\site-packages (from pandas) (2022.7)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     --- --------------------------------- 30.7/341.8 kB 262.6 kB/s eta 0:00:02
     ---- -------------------------------- 41.0/341.8 kB 245.8 kB/s eta 0:00:02
     ------- ----------------------------- 71.7/341.8 kB 326.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 409.6 kB/s eta 0:00:01
     ---------------- ------------------- 153.6/341.8 kB 510.2 kB/s eta 0:00:01
     -------------------------- --------- 256.0/341.8 kB 714.4 kB/s eta 0:00:01
     -----------------------------------  337.9/341.8 kB 838.1 kB/s eta 0:00:01
     -----------------------------------  337.9/341.8 kB 838.1 kB/s eta 0:00:01
     -----------------------------------  337.9/341.8 kB 838.1 kB/s eta 0:00:01
     ------------------------------------ 341.8/341.8 kB 624.5 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\ndubuisi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.6 MB 2.3 MB/s eta 0:00:05
   ---------------------------------------- 0.1/10.6 MB 1.4 MB/s eta 0:00:08
    --------------------------------------- 0.2/10.6 MB 1.3 MB/s eta 0:00:08
    --------------------------------------- 0.2/10.6 MB 1.1 MB/s eta 0:00:10
   - -------------------------------------- 0.3/10.6 MB 1.5 MB/s eta 0:00:08
   - -------------------------------------- 0.4/10.6 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.5/10.6 MB 1.7 MB/s eta 0:00:07
   -- ------------------------------------- 0.7/10.6 MB 1.8 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/10.6 MB 1.9 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/10.6 MB 2.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.1/10.6 MB 2.2 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/10.6 MB 2.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.3/10.6 MB 2.1 MB/s eta 0:00:05
   ----- ---------------------------------- 1.4/10.6 MB 2.2 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/10.6 MB 2.3 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/10.6 MB 2.3 MB/s eta 0:00:04
   ------- -------------------------------- 1.9/10.6 MB 2.4 MB/s eta 0:00:04
   ------- -------------------------------- 2.0/10.6 MB 2.4 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/10.6 MB 2.4 MB/s eta 0:00:04
   -------- ------------------------------- 2.2/10.6 MB 2.4 MB/s eta 0:00:04
   -------- ------------------------------- 2.3/10.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.4/10.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.5/10.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/10.6 MB 2.4 MB/s eta 0:00:04
   ---------- ----------------------------- 2.7/10.6 MB 2.4 MB/s eta 0:00:04
   ---------- ----------------------------- 2.9/10.6 MB 2.4 MB/s eta 0:00:04
   ----------- ---------------------------- 2.9/10.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.1/10.6 MB 2.4 MB/s eta 0:00:04
   ------------ --------------------------- 3.2/10.6 MB 2.4 MB/s eta 0:00:04
   ------------ --------------------------- 3.3/10.6 MB 2.4 MB/s eta 0:00:04
   ------------ --------------------------- 3.4/10.6 MB 2.4 MB/s eta 0:00:04
   ------------- -------------------------- 3.5/10.6 MB 2.3 MB/s eta 0:00:04
   ------------- -------------------------- 3.6/10.6 MB 2.3 MB/s eta 0:00:04
   ------------- -------------------------- 3.7/10.6 MB 2.3 MB/s eta 0:00:04
   -------------- ------------------------- 3.7/10.6 MB 2.3 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/10.6 MB 2.3 MB/s eta 0:00:03
   --------------- ------------------------ 4.0/10.6 MB 2.3 MB/s eta 0:00:03
   --------------- ------------------------ 4.0/10.6 MB 2.3 MB/s eta 0:00:03
   --------------- ------------------------ 4.1/10.6 MB 2.3 MB/s eta 0:00:03
   --------------- ------------------------ 4.2/10.6 MB 2.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.3/10.6 MB 2.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.4/10.6 MB 2.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.5/10.6 MB 2.3 MB/s eta 0:00:03
   ----------------- ---------------------- 4.6/10.6 MB 2.2 MB/s eta 0:00:03
   ----------------- ---------------------- 4.7/10.6 MB 2.2 MB/s eta 0:00:03
   ----------------- ---------------------- 4.7/10.6 MB 2.2 MB/s eta 0:00:03
   ----------------- ---------------------- 4.7/10.6 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 4.8/10.6 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 4.9/10.6 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 5.0/10.6 MB 2.2 MB/s eta 0:00:03
   ------------------- -------------------- 5.2/10.6 MB 2.2 MB/s eta 0:00:03
   ------------------- -------------------- 5.3/10.6 MB 2.2 MB/s eta 0:00:03
   -------------------- ------------------- 5.5/10.6 MB 2.2 MB/s eta 0:00:03
   --------------------- ------------------ 5.6/10.6 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 5.8/10.6 MB 2.3 MB/s eta 0:00:03
   ---------------------- ----------------- 5.9/10.6 MB 2.3 MB/s eta 0:00:03
   ---------------------- ----------------- 6.1/10.6 MB 2.3 MB/s eta 0:00:02
   ----------------------- ---------------- 6.2/10.6 MB 2.3 MB/s eta 0:00:02
   ----------------------- ---------------- 6.4/10.6 MB 2.3 MB/s eta 0:00:02
   ------------------------ --------------- 6.5/10.6 MB 2.3 MB/s eta 0:00:02
   ------------------------ --------------- 6.6/10.6 MB 2.3 MB/s eta 0:00:02
   ------------------------- -------------- 6.7/10.6 MB 2.3 MB/s eta 0:00:02
   ------------------------- -------------- 6.9/10.6 MB 2.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.0/10.6 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.2/10.6 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.4/10.6 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 7.5/10.6 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 7.7/10.6 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 7.8/10.6 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 7.9/10.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.0/10.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.2/10.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.3/10.6 MB 2.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.5/10.6 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.6 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.6 MB 2.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.6 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 8.9/10.6 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.0/10.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.3/10.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.5/10.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.6/10.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.1/10.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 2.4 MB/s eta 0:00:00
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.1.1 tzdata-2023.3

In [17]:
import pandas as pd

In [18]:
df = pd.read_sql_query('select * from instructor', conn)
# print dataframe
df

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [19]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [20]:
df.shape

(3, 5)

The dataframe has 3 rows and 5 columns

## Task 6: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [21]:
# Close the connection
conn.close()

## Summary

In this tutorial I created a database & table in Python notebook using SQLite3. Then created a table and insert a few rows of data into it. Then queried the data. I also retrieved the data into a pandas dataframe.

# Author
Amanze Edwin